{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template qtype_proforma/taskeditor_file

    The purpose of this template is to render a file in ProFormA task editor

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
    }


    Ursprüngliche Klassen für das Top-Level-Div:
    class='ui-widget ui-widget-content ui-corner-all xml_file drop_zone'

    Ursprüngliche Klassen für den Header:
    class='ui-widget-header'

}}


{{! create table for referenced files }}
<table class="dynamic_table xml_fileref_table" cellpadding="0">
    <tbody>
        <tr>
            <td>
                <label for="xml_test_filename">Junit and other file(s)<span class="red">*</span>: </label>
            </td>
            <td>
                <select class="mediuminput fileref_filename xml_test_filename"
                    onchange="TestFileReference.getInstance().onFileSelectionChanged($(this))"
                    title="file containing test cases, test configuration, libraries etc."><option> </option><option>&lt;open...&gt;</option>
                </select>
            </td>
            <td>
                <label for="fileref_fileref" style="display: none;">Fileref: </label>
                <input class="tinyinput fileref_fileref" readonly="" style="display: none;">
            </td>
            <td>
                <button class="collapse" title="show content" onclick="TestFileReference.getInstance().toggleEditor($(this))"
                    disabled="">View</button>
                    <br>
            </td>
            <td>
                <button class="remove_item" onclick="TestFileReference.getInstance().removeItem($(this))" style="display: none;">x</button>
            </td>
            <td>
                <button class="add_test_fileref" title="add another filename" onclick="TestFileReference.getInstance().addItem($(this))">+</button>
                <br>
            </td>
            <td>
            </td>
        </tr>
    </tbody>
</table>

<p>


</p>
    <div id="{{uniqid}}-testfilereftable">
    </div>
<p>
    <label>{{#str}} weight, qtype_proforma {{/str}}<span class='red'>*</span>:</label>
    <input class='tinyinput xml_test_weight' value=' weight'></input>
</p>
</div>

{{#js}}
    require(['qtype_proforma/taskeditortest'], function(t) {
        t.test("{{uniqid}}-testfilereftable", 'test_{{ testid }}');
    });
{{/js}}