ul[role="tree"] {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 90%;
    font-family: sans-serif;
    font-weight: 100;
}

[role="treeitem"].doc::before {
    /* document icon from https://css.gg/file-document (MIT license)
    Copyright 2019-2020 css.gg */
    content: url("data:image/svg+xml;utf8,<svg \
    width='14' \
    height='14' \
    viewBox='0 0 24 24' \
    fill='none' \
    xmlns='http://www.w3.org/2000/svg'> \
    <path d='M7 18H17V16H7V18Z' fill='grey' /> \
    <path d='M17 14H7V12H17V14Z' fill='grey' /> \
    <path d='M7 10H11V8H7V10Z' fill='grey' /> \
    <path \
    fill-rule='evenodd' \
    clip-rule='evenodd' \
    d='M6 2C4.34315 2 3 3.34315 3 5V19C3 20.6569 4.34315 22 6 22H18C19.6569 22 21 20.6569 21 19V9C21 5.13401 17.866 2 14 2H6ZM6 4H13V9H19V19C19 19.5523 18.5523 20 18 20H6C5.44772 20 5 19.5523 5 19V5C5 4.44772 5.44772 4 6 4ZM15 4.10002C16.6113 4.4271 17.9413 5.52906 18.584 7H15V4.10002Z' \
    fill='grey' \
    /> \
    </svg>");

    display: inline;
    padding-right: 2px;
    /* padding-left: 5px; */
    vertical-align: middle;
}

[role="treeitem"][aria-expanded="false"] > ul {
    display: none;
}

[role="treeitem"][aria-expanded="true"] > ul {
    display: block;
}

[role="treeitem"][aria-expanded="false"] > .name::before {
    /* COLLECTION: Akar Interface Icons
    LICENSE: MIT License
    AUTHOR: artcoholic
    from https://www.svgrepo.com/svg/378615/folder */
    content: url("data:image/svg+xml;utf8, <svg \
        width='17' height='17' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'> \
        <path d='M22 19V9C22 7.89543 21.1046 7 20 7H13.2361C12.4785 7 11.786 6.572 11.4472 5.89443L10.5528 4.10557C10.214 3.428 9.52148 3 8.76393 3H4C2.89543 3 2 3.89543 2 5V19C2 20.1046 2.89543 21 4 21H20C21.1046 21 22 20.1046 22 19Z' \
        stroke='grey' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/> \
    </svg>" );
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
}
[role="treeitem"][aria-expanded="true"] > .name::before {
    /* COLLECTION: Fluent Ui Icons Outlined
    LICENSE: MIT License
    AUTHOR: Microsoft
    from https://www.svgrepo.com/svg/309636/folder-open */
    content: url("data:image/svg+xml;utf8, <svg \
        width='20' height='20' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'> \
    <path d='M20 9.50195V8.74985C20 7.50721 18.9926 6.49985 17.75 6.49985H12.0247L9.64368 4.51995C9.23959 \
    4.18393 8.73063 3.99997 8.20509 3.99997H4.24957C3.00724 3.99997 2 5.00686 1.99957 6.24919L1.99561 17.7492C1.99518 18.9921 3.00266 20 4.24561 20H4.27196C4.27607 20 4.28019 20 4.28431 20H18.4693C19.2723 20 19.9723 19.4535 20.167 18.6745L21.9169 11.6765C22.1931 10.5719 21.3577 9.50195 20.2192 9.50195H20ZM4.24957 5.49997H8.20509C8.38027 5.49997 8.54993 5.56129 8.68462 5.6733L11.2741 7.82652C11.4088 7.93852 11.5784 7.99985 11.7536 7.99985H17.75C18.1642 7.99985 18.5 8.33563 18.5 8.74985V9.50195H6.42385C5.39136 9.50195 4.49137 10.2047 4.241 11.2064L3.49684 14.1837L3.49957 6.24971C3.49971 5.8356 3.83546 5.49997 4.24957 5.49997ZM5.69623 11.5701C5.77969 11.2362 6.07969 11.002 6.42385 11.002H20.2192C20.3819 11.002 20.5012 11.1548 20.4617 11.3126L18.7119 18.3107C18.684 18.4219 18.584 18.5 18.4693 18.5H4.28431C4.12167 18.5 4.00233 18.3472 4.04177 18.1894L5.69623 11.5701Z' fill='grey'/> \
    </svg>");
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
}

[role="treeitem"] span,
[role="treeitem"] {
    /*width: fit-content;*/
    /*width: 10em; *//* enlarge for easier dropping */
    min-width: fit-content;
    margin: 0;
    padding: 0; /* Vertical distance between items */
/*    padding: 0.1em; *//* Vertical distance between items */
    border: 2px transparent solid;
    display: block;

}

/* Indent for all treeitems but first level */
/* Default indentation is much too large */
[role="treeitem"] [role="treeitem"] {
/* editortest:    margin-left: -20px; */
    margin-left: 0px;
}

/* disable default keyboard focus styling for treeitems
   Keyboard focus is styled with the following CSS */
[role="treeitem"]:focus {
    outline: 0;
}

[role="treeitem"].focus,
[role="treeitem"] span.focus {
    /*border-color: darkblue;*/
    background-color: steelblue;
}

/*
[role="treeitem"].hover,
[role="treeitem"] span:hover {
    width: 10em;
    background-color: #ddd;
}*/


[role="treeitem"].dragover,
[role="treeitem"] span.dragover {
/*    width: 10em;*/
    background-color: lightsteelblue;
    color: black;
}

/* Split view */

/*
.split {
    display: flex;
    border: 1px black solid;
    width: 100%;
    min-height: 400px;
}
*/


/* From Codemirror theme darcula: #2B2B2B */
.ide .explorer {
    background-color: #2B2B2B;
    color: #A9B7C6;
}

.ide .menu, .ide .status, .ide .tabs, .ide .tab {
    background-color: lightgrey;
}


.ide .resize {
    flex-grow: 0;
    flex-shrink: 0;
    width: 0.15rem;
    cursor: col-resize;
    margin: 0 0 0 auto;
}

.ide .CodeMirror {
    font-size: 90%;
}

/* Editor tabs */
.ide .tab {
    border-radius: 2px;
}
.ide .tab .close:hover {
    background: rgba(0, 0, 0, 0.2);
}

.ide .tab.focus {
    background-color: #eee;
}

.ide .tab .close {
    font-size: 80%;
    font-weight: 100;
    padding: 0px 2px 0px 2px;
    margin: 0px 0px 0px 2px;
    vertical-align: baseline;
    border-radius: 1px;
    float: none; /* needed to override value from Moodle, otherwise vertical-align is not applied */
}

/* Context menu */

.contextmenu {
    /* width: 100px; */
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
    position: absolute;
    background-color: white;
    display: none;
    z-index: 300;
}
.contextmenu .menu-options {
    list-style: none;
    padding: 3px 4px 5px 4px;
    margin: 0 0 0 0;
}

.contextmenu .menu-options .menu-option {
    font-size: 80%;
    padding: 1px 4px 1px 5px;
    cursor: pointer;
}

.contextmenu .menu-options .menu-option:hover {
     background: rgba(0, 0, 0, 0.2);
}
